<div class="bg-white py-20 sm:py-18">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2
        class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl"
      >
        Notable Projects
      </h2>
      <p class="mt-2 text-lg/8 text-gray-600">
        Learn about some Projects I've worked on in my career.
      </p>
      <div
        class="mt-16 space-y-20 lg:mt-20 lg:space-y-20"
        *ngFor="let project of projects"
      >
        <article class="relative isolate flex-col gap-8 lg:flex-row">
          <div>
            <div class="flex flex-wrap items-center gap-2 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">
                {{ project.time }}
              </time>

              <a
                *ngIf="project.url; else noLink"
                [href]="project.url"
                class="relative z-10 rounded-full bg-blue-300 px-3 py-1.5 font-medium text-gray-600 hover:bg-blue-400"
              >
                {{ project.employer }}
              </a>

              <ng-template #noLink>
                <span
                  class="relative z-10 rounded-full bg-blue-300 px-3 py-1.5 font-medium text-gray-600"
                >
                  {{ project.employer }}
                </span>
              </ng-template>
              <ng-container *ngFor="let skill of project.skills">
                <a
                  class="relative z-10 rounded-full bg-gray-100 px-3 py-1.5 font-medium text-gray-600"
                  >{{ skill }}</a
                >
              </ng-container>
            </div>

            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg/6 font-semibold text-gray-900">
                <span class="absolute inset-0"></span>
                {{ project.projectTitle }}
              </h3>
              <p class="mt-5 text-sm/6 text-gray-600">
                {{ project.description }}
              </p>
            </div>
          </div>
          <div class="mt-4" *ngIf="project.img">
            <p-image
              [src]="project.img"
              [preview]="true"
              alt="Image"
              width="250"
            >
              <ng-template #indicator>
                <i class="pi pi-search"></i>
              </ng-template>
              <ng-template #image>
                <img [src]="project.img" alt="image" width="250" />
              </ng-template>
              <ng-template
                #preview
                let-style="style"
                let-previewCallback="previewCallback"
              >
                <img
                  [src]="project.img"
                  alt="image"
                  sizes="(max-width: 600px) 250px, 500px"
                  [style]="style"
                />
              </ng-template>
            </p-image>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
