<div class="mx-auto -mt-8 max-w-7xl px-6 lg:px-8">
  <div
    class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4"
  >
    <div *ngFor="let job of jobHistory">
      <time
        [attr.datetime]="job.date"
        class="flex items-center text-sm/6 font-semibold text-indigo-600"
      >
        <svg viewBox="0 0 4 4" class="mr-4 size-1 flex-none" aria-hidden="true">
          <circle cx="2" cy="2" r="2" fill="currentColor" />
        </svg>
        {{ job.date | date : "MMM y" }}
        <div
          class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"
          aria-hidden="true"
        ></div>
      </time>
      <p class="mt-6 text-lg/8 font-bold tracking-tight text-gray-900">
        {{ job.company }}
      </p>
      <p class="text-md/8 font-semibold tracking-tight text-gray-900">
        {{ job.role }}
      </p>
      <p class="mt-1 text-base/7 text-gray-600">
        {{ job.description }}
      </p>
    </div>
  </div>
</div>
